body{
    background-image: url("./Images/7971.jpg");
    color: white;
}
.mainComponent{
    background: gray;
    width: 30vw;
    height: 70vh;
    border-radius: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.allBtn{
    margin: 0;
    /* position: absolute; */
    /* top: 15%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
}
.Btns{
    border: none;
    border-radius: 10px;
    width: 4vw;
    height: 8vh;
    margin-left: 1vw;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Btns:hover{
    cursor: pointer;
    background: rgb(73, 73, 73);
    color: white;
    transition: 0.5s;
}
.mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 40vh;
}

.micBack{
    margin-top: 30%;
    margin-left: 30%;
    height: 10vw;
    width: 10vw;
    border-radius: 10vw;
    background: rgb(214, 214, 214);
    border: rgb(86, 86, 86) solid;
    cursor: pointer;
}

.micBack:hover{
    background: rgb(186, 186, 186);
    border: white solid;
    transition: 1s;
    color: white;
}

.micO{
    margin: 16%;
    font-size: 6.5vw;
}
